.fourth-main {
    background-color: #EFEFEF;
    padding-top: 88px;
    padding-bottom: 88px;
    text-align: center;
}

.fourth-main__box {
    margin-bottom: 45px;
}

.fourth-main p {
    font-size: 30px;
    line-height: 43px;
    color: #252525;
}
